<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

 <mapper namespace="com.bootstrap.test.mapper.contentMapper">
 
<insert id="insertContent" parameterType="com.bootstrap.test.dto.Content">
   INSERT INTO Content (ccode, bcode, pcode, pid, ctitle, ccontent, cdate)
   VALUES (#{ccode}, #{bcode}, #{pcode}, #{pid}, #{ctitle}, #{ccontent}, #{cdate})
</insert>

<select id="viewContent" parameterType="map" resultType="com.bootstrap.test.dto.Content">
   SELECT *
   FROM Content NATURAL JOIN Person
   WHERE bcode = #{bcode} AND ccode = #{ccode}
</select>

<delete id="deleteContent" parameterType="map">
   DELETE FROM Content
   WHERE bcode = #{bcode} 
   AND ccode = #{ccode}
</delete>

<select id="selectContent" parameterType="int" resultType="int">
   SELECT ccode
   FROM Content 
   WHERE bcode = #{bcode}
</select>

<delete id="deleteContentByCcode" parameterType="int">
   DELETE FROM Content
   WHERE ccode = #{ccode}
</delete>

<update id="updateContent" parameterType="com.bootstrap.test.dto.UpdateContentDTO" >
   UPDATE Content
   SET ccontent = #{ccontent}
   WHERE ccode = #{ccode}
</update>

<select id="selectContentByCcode" parameterType="map" resultType="com.bootstrap.test.dto.Content">
   SELECT *
   FROM Content
   WHERE bcode = #{bcode} AND ccode = #{ccode} 
</select>

<update id="updateChits" parameterType="map" >
   UPDATE Content
   SET chits = #{chits}
   WHERE ccode = #{ccode}
</update>
   
</mapper>